.portfolio__projects {
  max-width: 1500px;
  min-width: 260px;
  display: grid;
  place-content: center;
  padding: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
}