.project-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2;
  margin: auto;
  background-color: #171718;
  box-shadow: 0 0 1px white;
  border-radius: 10px;
  flex-direction: column;
  &:hover {
    transform: scale(1.01);
    background-color: #343434ce;
    box-shadow: 0 0 15px var(--primary-color);
  }
}

.project-card__img {
  max-width: 250px; 
  aspect-ratio: 16 / 9;
  display: block;
  object-fit: cover;
}

.project-card__texts {
  min-height: 180px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  padding: .5rem .8rem;
  background-color: #272727;
}

.project-card__title {
  font-size: 1.1rem;
  flex-grow: 1; 
  font-weight: bold;
  color: white;
  margin: 0;
}

.project-card__tags {
  display: flex; 
  flex-wrap: wrap; 
  column-gap: .5rem;
  width: 100%;
  height: max-content;
}

.project-card__tag {
  font-size: 14px;
  height: 14px;
  color: var(--secondary-color);
}

.project-card__buttons {
  display: flex;
  gap: 1rem;
}