.navBar {
  height: 4rem;
}

.active {
  opacity: .6;
  transform: scale(.97);
}

.navBar__link {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbar-drawer {
  width: fit-content;
  height: 100%;
  background-color: rgb(40, 39, 39);
  color: white;
}

.navbar-drawer__link {
  display: flex;
}